@font-face {
    font-family: dead;
    src: url("fonts/Dead.otf") format("opentype");
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-bottom: 40px;
    color: #5a5a5a;
    background-color: #000000;
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-image: url(../img/banner.jpg);*/
    /*background-repeat: no-repeat;*/
    /*background-position: center center;*/
    /*background-attachment: fixed;*/
    /*background-size: cover;*/
    background-image: url(../img/banner.jpg);
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;


}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
    padding-right: 0;
    padding-left: 0;
}
.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 500px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
    padding-right: 15px;
    padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

    /* Remove the edge padding needed for mobile */
    .marketing {
        padding-right: 0;
        padding-left: 0;
    }

    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left:  15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left:  0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}

#doubleJump {
    background-image: url(img/doubleJump.png);
    display: block;
    margin: 0 auto;
    text-indent: -9999px;
    width: 300px;
    height: 150px;
    margin-top: 10px;
}

#deadLogo {
    background-image: url(img/deadlogo.png);
    display: block;
    margin: 0 auto;
    text-indent: -9999px;
    width: 200px;
    height: 50px;
}

#twitter {
    background-image: url(img/twitter-logo.png);
    display: inline-block;
    /*margin: 0 auto;*/
    text-indent: -9999px;
    width: 48px;
    height: 48px;
}

#facebook {
    background-image: url(img/fb-logo.png);
    display: inline-block;
    /*margin: 0 auto;*/
    margin-right: 15%;
    margin-top: 20%;
    text-indent: -9999px;
    width: 48px;
    height: 48px;
}

#logo {
    width:20%; /* you can use % */
    height: auto;
}


h1,h2,h3,p,legend {
    font-family: dead;
    color: #ffffff;
}

footer {
    background-image: -o-linear-gradient(bottom, #000000 11%, #40653A 100%);
    background-image: -moz-linear-gradient(bottom, #000000 11%, #40653A 100%);
    background-image: -webkit-linear-gradient(bottom, #000000 11%, #40653A 100%);
    background-image: -ms-linear-gradient(bottom, #000000 11%, #40653A 100%);
    background-image: linear-gradient(to bottom, #000000 11%, #40653A 100%);
}

/*.panel-heading {*/
    /*background-color: transparent !important;*/
/*}*/

/*Iconos sociales*/

.demo
{
    width: 480px;
    margin: 80px auto;
}

.demo ul
{
    padding: 0;
    list-style: none;
    font-size: 16px;
}
.demo li
{
    float: left;
    width: 80px;
    text-align: center;
}
.demo li span
{
    display: block;
}
.demo a
{
    display: block;
    color: #ffffff;
    text-decoration: none;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.demo ul:hover a
{
    color: rgba(255, 255, 255, 0.6);
}
.demo ul:hover a:hover
{
    color: #ffffff;
}
.demo li:nth-child(1) i
{
    background: rgb(59, 89, 152);
    box-shadow: 0 0 0 0 rgba(59, 89, 152,0.6);
}
.demo li:nth-child(2) i
{
    background: rgb(210, 64, 46);
    box-shadow: 0 0 0 0 rgba(210, 64, 46,0.6);
}
.demo li:nth-child(3) i
{
    background: rgb(0, 172, 238);
    box-shadow: 0 0 0 0 rgba(0, 172, 238, 0.6);
}
.demo li:nth-child(4) i
{
    background: rgb(203, 34, 41);
    box-shadow: 0 0 0 0 rgba(203, 34, 41, 0.6);
}
.demo li:nth-child(5) i
{
    background: rgb(240, 150, 0);
    box-shadow: 0 0 0 0 rgba(240, 150, 0, 0.6);
}
.demo li:nth-child(6) i
{
    background: rgb(234, 75, 36);
    box-shadow: 0 0 0 0 rgba(234, 75, 36, 0.6);
}
.demo i
{
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 12px;
    border-radius: 50%;
    font-size: 30px;
    transition: box-shadow .4s ease-in-out;
    -moz-transition: box-shadow .4s ease-in-out;
    -webkit-transition: box-shadow .4s ease-in-out;
    -o-transition: box-shadow .4s ease-in-out;
}
.demo a:hover i, .demo a:active i
{
    box-shadow: 0 0 0 25px transparent;
}
.demo .icon + span
{
    margin-top: 20px;
    opacity: 0;
    -webkit-transition: all 500ms cubic-bezier(1.000, 0.000, 1.000, 0.650);
    -moz-transition: all 500ms cubic-bezier(1.000, 0.000, 1.000, 0.650);
    -ms-transition: all 500ms cubic-bezier(1.000, 0.000, 1.000, 0.650);
    -o-transition: all 500ms cubic-bezier(1.000, 0.000, 1.000, 0.650);
    transition: all 500ms cubic-bezier(1.000, 0.000, 1.000, 0.650);
}
.demo a:hover span, .demo a:active span
{
    opacity: 1;
}

.footer
{
    clear: both;
    padding-top: 80px;
    font-size: 16px;
    color: #ffffff;
}
.footer ul
{
    list-style: none;
}
.footer a
{
    color: #ffffff;
    text-decoration: none;
}

/* ICOMOON Starts Here */

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-home, .icon-stumbleupon, .icon-pencil, .icon-tag, .icon-clock, .icon-users, .icon-user, .icon-disk, .icon-lab, .icon-arrow-left, .icon-mail, .icon-google-plus, .icon-facebook, .icon-twitter, .icon-feed, .icon-delicious, .icon-stackoverflow, .icon-pinterest, .icon-html5, .icon-css3, .icon-youtube {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon-home:before {
    content: "\e000";
}
.icon-stumbleupon:before {
    content: "\e006";
}
.icon-pencil:before {
    content: "\e008";
}
.icon-tag:before {
    content: "\e009";
}
.icon-clock:before {
    content: "\e00a";
}
.icon-users:before {
    content: "\e00b";
}
.icon-user:before {
    content: "\e00c";
}
.icon-disk:before {
    content: "\e00d";
}
.icon-lab:before {
    content: "\e00e";
}
.icon-arrow-left:before {
    content: "\e001";
}
.icon-mail:before {
    content: "\e00f";
}
.icon-google-plus:before {
    content: "\e010";
}
.icon-facebook:before {
    content: "\e600";
}
.icon-twitter:before {
    content: "\e601";
}
.icon-youtube:before {
    content: "\e602";
}
.icon-feed:before {
    content: "\e004";
}
.icon-delicious:before {
    content: "\e005";
}
.icon-stackoverflow:before {
    content: "\e011";
}
.icon-pinterest:before {
    content: "\e012";
}
.icon-html5:before {
    content: "\e007";
}
.icon-css3:before {
    content: "\e013";
}

/*Fin Iconos sociales*/

.noticias-heading{
    color: #ffffff;
    background-image: -o-linear-gradient(bottom, #000000 0%, #000000 100%);
    background-image: -moz-linear-gradient(bottom, #000000 0%, #000000 100%);
    background-image: -webkit-linear-gradient(bottom, #000000 0%, #000000 100%);
    background-image: -ms-linear-gradient(bottom, #000000 0%, #000000 100%);
    background-image: linear-gradient(to bottom, #000000 0%, #000000 100%);
}

.noticias-body {
    margin-left: 15px;
    margin-right: 15px;
    background-image: -o-linear-gradient(bottom, #000000 17%, #3F653A 100%);
    background-image: -moz-linear-gradient(bottom, #000000 17%, #3F653A 100%);
    background-image: -webkit-linear-gradient(bottom, #000000 17%, #3F653A 100%);
    background-image: -ms-linear-gradient(bottom, #000000 17%, #3F653A 100%);
    background-image: linear-gradient(to bottom, #000000 17%, #3F653A 100%);
    color: #ffffff;
    font-size: 18px;
}

.noticias-footer {
    background-image: -o-linear-gradient(bottom, #000000 0%, #3F653A 0%);
    background-image: -moz-linear-gradient(bottom, #000000 0%, #3F653A 0%);
    background-image: -webkit-linear-gradient(bottom, #000000 0%, #3F653A 0%);
    background-image: -ms-linear-gradient(bottom, #000000 0%, #3F653A 0%);
    background-image: linear-gradient(to bottom, #000000 0%, #3F653A 0%);
    color: #ffffff;
}

iframe[id^='twitter-widget-']{ width:100%;}







/*login css*/
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
/*fin login css*/
